.button {
  display: inline-block;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}
