.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-list {
  padding: 0;
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox-icon {
  display: inline-block;

  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 10px;
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}
.link-agreement {
  margin-left: 4px;
}

.label-text {
  transition: transform 250ms linear;
}

.checkbox:checked ~ .label-text {
  transform: translateX(15px);
}
