/* модалка */

.modal {
  overflow: auto;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

textarea {
  resize: none;
}

.form-studio {
  margin-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.form-order {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
  cursor: pointer;
}

.form-order-title {
  font-family: Roboto;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
  width: 100%;
  margin: 0;
  padding: 12px 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}
.form-icon {
  position: absolute;

  top: 50%;
  left: 16px;
  display: inline-block;
  transform: translateY(-50%);
  fill: #212121;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}
.form-input:focus + .form-label {
  color: var(--accent-color);
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px);
  left: 0;
}

.btn-form-studio {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  position: absolute;
  top: 8px;
  right: 12.5px;
  fill: black;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-form-studio:hover,
.btn-form-studio:focus {
  fill: var(--accent-color);
}

.btn-send {
  margin-left: 120px;
}

.form-input:focus {
  border: 1px solid #2196f3;
}
.form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.form-comment textarea {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  padding: 12px 16px;
}
.form-comment .form-label {
  position: absolute;

  left: 57px;
}

.form-comment textarea:focus + .form-label {
  color: var(--accent-color);
}
.form-comment textarea:focus + .form-label,
.form-comment textarea:not(:placeholder-shown) + .form-label {
  transform: translateY(-50px);
  left: 42px;
}

.form-comment:focus {
  border: 1px solid #2196f3;
}
