/* logo */

.logo {
  color: #212121;
  margin-right: 85px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo .logo-color-header {
  color: var(--accent-color);
}
